*.h2.db
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/libs/
/build/
/*.zip
/data/
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/